
<% if column == "order_created_at" %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= line_chart chart.group_by_day(:order_created_at).count, xtitle: "Time", ytitle: "Number of Order", colors: ["#7C3AED", "#6B7280"], stacked: true , discrete: true, legend: false, download: true%>
    </div>
<% elsif column == 'paid_at' %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= line_chart chart.group_by_day(:paid_at).count, xtitle: "Time", ytitle: "payment received", colors: ["#7C3AED", "#6B7280"], stacked: true , discrete: true, legend: false, download: true%>
    </div>
<% elsif column == 'fulfilled_at' %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= line_chart chart.group_by_day(:fulfilled_at).count, xtitle: "Time", ytitle: "payment received", colors: ["#7C3AED", "#6B7280"], stacked: true , discrete: true, legend: false, download: true%>
    </div>

<% elsif column == 'updated_at' %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= line_chart chart.group_by_day(:updated_at).count, xtitle: "Time", ytitle: "order updated", colors: ["#7C3AED", "#6B7280"], stacked: true , discrete: true, legend: false, download: true%>
    </div>
<% elsif column == 'cancelled_at' %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= line_chart chart.group_by_day(:cancelled_at).count, xtitle: "Time", ytitle: "order cancelled", colors: ["#7C3AED", "#6B7280"], stacked: true , discrete: true, legend: false, download: true%>
    </div>
<% elsif column == "total"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:total), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == "discount_amount"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:discount_amount), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == "subtotal"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:subtotal), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == "shipping"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:shipping), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == "taxes"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:taxes), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == "lineitem_quantity"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:lineitem_quantity), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == "refunded_amount"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:refunded_amount), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == "lineitem_discount"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:lineitem_discount), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == "lineitem_price"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:lineitem_price), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == "lineitem_compare_at_price"  %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:lineitem_compare_at_price), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == 'name' %>
    <div class="chart<%= " hidden" if hidden %>" id="<%= column %>">
        <%= bar_chart chart.group_by_day(:order_created_at).sum(:total), download: true, colors: ["#7C3AED", "#6B7280"] %>
    </div>
<% elsif column == 'shipping_method' %>
    <div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
        <%= pie_chart chart.group(:shipping_method).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
    </div>
<% elsif column == 'billing_country' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:billing_country).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'billing_province' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:billing_province).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'billing_company' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:billing_company).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'billing_city' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:billing_city).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'vendor' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:vendor).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'billing_province' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:shipping_country).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'shipping_city' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:shipping_city).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'order_id' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:order_id).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'billing_street' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:billing_street).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'shipping_company' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:shipping_company).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'payment_method' %>
<div class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:payment_method).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'shipping_name' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:shipping_name).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'lineitem_sku' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:lineitem_sku).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'billing_zip' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:billing_zip).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'lineitem_name' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:lineitem_name).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'currency' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:currency).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'fulfillment_status' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:fulfillment_status).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'lineitem_taxable' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:lineitem_taxable).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'accepts_marketing' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:accepts_marketing).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'shipping_zip' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:shipping_zip).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'lineitem_fulfillment_status' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:lineitem_fulfillment_status).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'tags' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:tags).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'name' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:name).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% elsif column == 'email' %>
<div  class="chart<%= " hidden" if hidden %> mt-3" id="<%= column %>">
    <%= pie_chart chart.group(:email).count, download: true, colors: ["#F5F3FF", "#F5F3FF", "#DDD6FE", "#C4B5FD", "#A78BFA", "#8B5CF6", "#7C3AED", "#6D28D9", "#5B21B6", "#4C1D95",] %>
</div>
<% end %>
