
<div class="show-page-views-container">
      <div class="show-page-views-menu-container">
      <ul class="nav nav-tabs show-page-views-tab-container" id="myTab" role="tablist">
        <li class="nav-item show-page-views-tab-link">
          <a class="nav-link active show-page-views-tab-link" id="home-tab" data-toggle="tab" href="#filters" role="tab" aria-controls="home" aria-selected="true">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="show-page-views-tab-icon">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
            </svg>
            Filters
          </a>
        </li>
        <li class="nav-item show-page-views-tab-link">
          <a class="nav-link show-page-views-tab-link" id="profile-tab" data-toggle="tab" href="#SQL" role="tab" aria-controls="profile" aria-selected="false">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="show-page-views-tab-icon">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
            </svg>
            SQL
          </a>
        </li>
      </ul>
      <% if user_signed_in? && @query.csv_file.user == current_user %>
        <div class="show-page-filters-buttons-container">
          <%= link_to "Edit", edit_csv_file_query_path(@query) , class: "button-utility mr-3"  %>
          <%= link_to "Delete", csv_file_query_path(@query), class: "button-utility", method: :delete, data: { confirm: "Deleting this query cannot be undone. Are you sure you want to delete?" } %>
        </div>
      <% end %>
    </div>
      <div class="tab-content show-page-filters-tab-content-container" id="myTabContent">
        <div class="tab-pane active show-page-filters-tab-pane" id="filters" role="tabpanel" aria-labelledby="profile-tab">
          <div class="show-page-filter-pills-container">
            <% @query.filters.each_with_index do |filter, index| %>
            <div class="show-page-filter-pill mr-2"><%= filter.verb %> <%= filter.column_name.split("-")[0].gsub!("_", " ").downcase %> <%= filter.comparison_operator.downcase %> <%= filter.value %></div>
          <% end %>
          </div>
        </div>
        <div class="tab-pane fade show-page-filters-tab-pane" id="SQL" role="tabpanel" aria-labelledby="profile-tab">
          <div class="show-page-filters-sql-container">
            <p class="show-page-sql-query" id="typed-strings"><%= @display_query %></p>
          </div>
        </div>
      </div>
</div>
