
<% if @selected_columns %>
  <% if @selected_columns.values.include?(:integer) == false && @selected_columns.values.include?(:float) == false && @selected_columns %>
    <div class="show-page-map-container">
      <h5>There are no numerical columns in this query that can be added to a map</h5>
      <%= link_to edit_csv_file_query_path(query) do %>
        <button class="button-primary">Edit Query</button>
      <% end %>
    </div>
  <% else %>
    <!-- Don't touch this please, map projections are made for 960x500 aspect ratio -->
    <div class="show-page-map-container">
            <div class="show-page-map-form-container">
              <form class="show-page-map-form">
                <label class="show-page-map-form-label">Column:</label>
                <select id="mapColumnNameSelector" class="show-page-map-form-input">
                  <% if @selected_columns %>
                    <% @selected_columns.each do |k, v| %>
                      <% if v == :integer || v == :float %>
                        <option value="<%= k %>"><%= k %></option>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% @order_columns.each do |k, v| %>
                      <% if v == :integer || v == :float %>
                        <option value="<%= k %>"><%= k %></option>
                      <% end %>
                    <% end %>
                  <% end %>
                </select>
                <button type="submit" class="show-page-map-form-button">Submit</button>
              </form>
            </div>
      <svg width="960" height="500" id="map" class="show-page-map-svg"></></svg>
    </div>
  <% end %>
<% else %>
  <div class="show-page-map-container">
      <div class="show-page-map-form-container">
              <form class="show-page-map-form">
                <label class="show-page-map-form-label">Column:</label>
                <select id="mapColumnNameSelector" class="show-page-map-form-input">
                  <% if @selected_columns %>
                    <% @selected_columns.each do |k, v| %>
                      <% if v == :integer || v == :float %>
                        <option value="<%= k %>"><%= k %></option>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% @order_columns.each do |k, v| %>
                      <% if v == :integer || v == :float %>
                        <option value="<%= k %>"><%= k %></option>
                      <% end %>
                    <% end %>
                  <% end %>
                </select>
                <button type="submit" class="show-page-map-form-button">Submit</button>
              </form>
            </div>
    <svg width="960" height="500" id="map" class="show-page-map-svg"></svg>
  </div>
<% end %>
