<div class="show-page-views-container">
  <% if query.count == 0 %>
    <h5><%= "Sorry, no results could be found for this query." %></h5>
    <%= link_to edit_csv_file_query_path(query) do %>
      <button class="button-primary">Edit Query</button>
    <% end %>
  <% else %>
  <div class="show-page-views-menu-container">
    <ul class="nav nav-tabs show-page-views-tabs-container" id="myTab" role="tablist">
      <li class="nav-item show-page-views-tab-container">
        <a class="nav-link active show-page-views-tab-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="show-page-views-tab-icon">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
          </svg>
          Table
      </a>
      </li>
      <li class="nav-item show-page-views-tab-container">
        <a class="nav-link show-page-views-tab-link" id="chart-tab" data-toggle="tab" href="#chart" role="tab" aria-controls="chart" aria-selected="false">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="show-page-views-tab-icon">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
          </svg>
          Charts
        </a>
      </li>
      <li class="nav-item show-page-views-tab-container">
        <a class="nav-link show-page-views-tab-link" id="map-tab" data-toggle="tab" href="#map-container" role="tab" aria-controls="map-container" aria-selected="false">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="show-page-views-tab-icon">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
          </svg>
          Map
        </a>
      </li>
    </ul>
    <% if @query %>
      <div class="show-page-views-buttons-container">
        <%= link_to 'Download Query as CSV', csv_file_query_path(id: @query.id, format: :csv), class: "button-utility mr-3" %>
      </div>
    <% else %>
      <div class="show-page-views-buttons-container">
        <%= link_to 'Download CSV', csv_file_path(id: @csv_file.id, format: :csv), class: "button-utility mr-3" %>
      </div>
    <% end %>
  </div>





    <div class="tab-content show-page-views-tab-content-container" id="myTabContent">

      <div class="tab-pane show active show-page-views-tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="show-page-table-wrapper">
          <div class="show-page-table-container">
            <table class='show-page-table'>
              <thead class='show-page-table-header-section'>
                <tr class='show-page-table-row'>
                  <% query[0].keys.each do |k| %>
                    <th class='show-page-table-header'><%= k.gsub("_", " ").capitalize %></th>
                  <% end %>
                </tr>
              </thead>

              <tbody class='show-page-table-body-section'>
                <% query.each do |order| %>
                <tr class='show-page-table-row'>
                  <% order.keys.each do |k| %>
                    <td class='show-page-table-data-cell'><%= order[k] %></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="tab-pane show-page-views-tab-pane" id="chart" role="tabpanel" aria-labelledby="chart-tab" style="margin-top: 10px;">
        <%= render :partial => "/partials/view_charts", locals: { query: query, chart: chart } %>
      </div>
      <div class="tab-pane show-page-views-tab-pane" id="map-container" role="tabpanel" aria-labelledby="map-tab">
        <%= render :partial => "/partials/view_map", locals: { query: query, selected_columns: @selected_columns, order_columns: @order_columns } %>
      </div>
    </div>
  <% end %>
</div>


