

  <div class="tab-content show-page-views-tab-content-container mt-3" id="myChartTabContent">
    <% content_for :chartkick do %>
      <%= javascript_pack_tag 'chartkick' %>
    <% end %>

 
    <div class="show-page-map-form-container">
      <label for="fields">Column:</label>
      <select name="fields" id="chart-form">
        <% if @selected_columns %>
            <% @selected_columns.keys.each do |k| %>
              <option value="<%= k %>"><%= k %></option>
            <% end %>
          <% else %>
            <% @order_columns.keys.each do |k| %>
              <option value="<%= k %>"><%= k %></option>
            <% end %>
          <% end %>
        </select>
    </div>
    <% if @selected_columns %>
      <%= render 'partials/charts', column:'order_created_at', hidden: false, chart: chart %>
      <% @selected_columns.keys[1..-1].each do |column| %>
        <%= render "partials/charts", column: column, hidden: true, chart: chart %>
      <% end %>
    <% else %>
      <%= render 'partials/charts', column:'order_created_at', hidden: false, chart: chart %>
      <% @order_columns.keys[1..-1].each do |column| %>
        <%= render "partials/charts", column: column, hidden: true, chart: chart %>
      <% end %>
    <% end %>
    

  </div>
<script>
  chartForm = document.getElementById('chart-form');
  document.querySelectorAll('.chart').forEach((e) => {
    console.log(e);
    console.log(e.querySelector(".chartjs-size-monitor"));
    // e.classList.add('hidden');
  })

  document.getElementById('chart-form').addEventListener('change', (event) => {
    event.preventDefault();
    const value = event.target.value;
    const charts = document.querySelectorAll('.chart').forEach((e) => {
      console.log(e);
      e.classList.add('hidden');
    })
    document.getElementById(value).classList.remove('hidden');
  })
</script>

