

  <div class="tab-content show-page-views-tab-content-container mt-3" id="myChartTabContent">
    <% content_for :chartkick do %>
      <%= javascript_pack_tag 'chartkick' %>
    <% end %>

 
    <form id="chart-form">
      <label for="fields">Choose a fields:</label>
      <select name="fields" id="fields">
        <% if @selected_columns %>
            <% @selected_columns.keys.each do |k| %>
              <option value="<%= k %>"><%= k %></option>
            <% end %>
          <% else %>
            <% @order_columns.keys.each do |k| %>
              <option value="<%= k %>"><%= k %></option>
            <% end %>
          <% end %>
        </select>
        <button type="submit" class="button-primary" style = "padding: 3px;">Submit</button>
    </form>
    <% if @selected_columns %>
      <%= render 'partials/charts', column:'order_created_at', hidden: false, chart: chart %>
      <% @selected_columns.keys[1..-1].each do |column| %>
        <%= render "partials/charts", column: column, hidden: true, chart: chart %>
      <% end %>
    <% else %>
      <%= render 'partials/charts', column:'order_created_at', hidden: false, chart: chart %>
      <% @order_columns.keys[1..-1].each do |column| %>
        <%= render "partials/charts", column: column, hidden: true, chart: chart %>
      <% end %>
    <% end %>
    

  </div>
<script>
  document.getElementById('chart-form').addEventListener('submit', (e) => {
    e.preventDefault()
    const value = document.getElementById('fields').value
    const charts = document.querySelectorAll('.chart').forEach((e) => {
      console.log(e)
      e.classList.add('hidden')
    })
    document.getElementById(value).classList.remove('hidden')
  })
</script>

