<div class="show-page-views-container">
  <% if query.count == 0 %>
    <h2><%= "Sorry, no results could be found for this query." %></h2>
  <% else %>
    <ul class="nav nav-tabs show-page-views-tabs-container" id="myTab" role="tablist">
      <li class="nav-item show-page-views-tab-container">
        <a class="nav-link active show-page-views-tab-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Table</a>
      </li>
      <li class="nav-item show-page-views-tab-container">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#chart" role="tab" aria-controls="profile" aria-selected="false">Chart</a>
      </li>
      <li class="nav-item show-page-views-tab-container">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#pie-chart" role="tab" aria-controls="profile" aria-selected="false">Pie-chart</a>
      </li>
      <li class="nav-item show-page-views-tab-container">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Map</a>
      </li>
    </ul>
    <div class="tab-content show-page-views-tab-content-container" id="myTabContent">
      <div class="tab-pane show active show-page-views-tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="show-page-table-wrapper">
          <div class="show-page-table-container">
            <table class='show-page-table'>
              <thead class='show-page-table-header-section'>
                <tr class='show-page-table-row'>
                  <% query[0].keys.each do |k| %>
                    <th class='show-page-table-header'><%= k.gsub("_", " ").capitalize %></th>
                  <% end %>
                </tr>
              </thead>

              <tbody class='show-page-table-body-section'>
                <% query.each do |order| %>
                <tr class='show-page-table-row'>
                  <% order.keys.each do |k| %>
                    <td class='show-page-table-data-cell'><%= order[k] %></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>



      <div class="tab-pane show-page-views-tab-pane" id="chart" role="tabpanel" aria-labelledby="profile-tab" style="margin-top: 10px;">
        <h4>orders by day</h4>
        <%= line_chart chart.group_by_day(:order_created_at).count, xtitle: "Time", ytitle: "Number of Order", colors: ["#b00", "#666"], stacked: true , discrete: true,legend: false%>
        <h2>Summary</h2>
        <p>The chart shows changes of your orders day by day.</p>
        <br>
        <h4>Prices for each item</h4>
        <%= pie_chart chart.group(:lineitem_price).count %>
        <h2>Summary</h2>
        <p>The Pie chart indicates that......</p>
             
             
      </div>
      <div class="tab-pane show-page-views-tab-pane" id="pie-chart" role="tabpanel" aria-labelledby="profile-tab">
        <h4>introduction:</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae soluta 
        eveniet unde blanditiis qui, voluptate maxime animi iure quo praesentium consequuntur 
        consequatur, id, officiis perferendis facilis molestias modi deleniti cumque!</p>
        <%= column_chart chart.group_by_day_of_week(:created_at, format: "%a").count %>
        <h2>Summary</h2>
        <p>The Column chart indicates that......</p>

        <h4 style="margin-top:5px;">introduction:</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae soluta 
        eveniet unde blanditiis qui, voluptate maxime animi iure quo praesentium consequuntur 
        consequatur, id, officiis perferendis facilis molestias modi deleniti cumque!</p>
        <%= bar_chart chart.group(:source).sum(:lineitem_price) %>
        <h2>Summary</h2>
        <p>The bar chart indicates that......</p>
      </div>

      <div class="tab-pane show-page-views-tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <!-- Don't touch this please, map projections are made for 960x500 aspect ratio -->

        <svg width="960" height="500" id="map"></svg>

      </div>
    </div>
  <% end %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js" integrity="sha512-4UKI/XKm3xrvJ6pZS5oTRvIQGIzZFoXR71rRBb1y2N+PbwAsKa5tPl2J6WvbEvwN3TxQCm8hMzsl/pO+82iRlg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.6.0/d3.min.js" integrity="sha512-Gdjw6rdB8Tefa1RazvbG8hecjW7qSjnmcRnPPj40lnNnsX5Ci9pijAciBieg9XcQIFm1w/PICAzzsE6POaDyiw==" crossorigin="anonymous"></script>

<script>



  const svg = d3.select('#map');

  const width = +svg.attr('width');
  const height = +svg.attr('height');

  const projection = d3.geoNaturalEarth1();
  const pathGenerator = d3.geoPath().projection(projection);

  const g = svg.append('g');

  svg.call(d3.zoom().on('zoom', () => {
    g.attr('transform', d3.event.transform);
  }));

  Promise.all([
    d3.tsv('https://unpkg.com/world-atlas@1.1.4/world/50m.tsv'),
    d3.json('https://unpkg.com/world-atlas@1.1.4/world/50m.json')
  ]).then(([tsvData, topoJSONdata]) => {

    const rowById = tsvData.reduce((accumulator, d) => {
      accumulator[d.iso_n3] = d;
      return accumulator;
    }, {});


    // const countryName = {};
    // tsvData.forEach(d => {
    //   countryName[d.iso_n3] = d.name;
    // });

    const countries = topojson.feature(topoJSONdata, topoJSONdata.objects.countries);

    countries.features.forEach(d => {
      Object.assign(d.properties, rowById[d.id]);
    });

    const colorScale = d3.scaleOrdinal();

    const colorValue = d => d.properties.economy;

    // Get rid of duplicate category entries
    // Sort category entry values
    colorScale
      .domain(countries.features.map(colorValue))
      .domain(colorScale.domain().sort().reverse())
      // .range(d3.schemeSpectral[colorScale.domain().length]);
      .range(["#D1D5DB" , "#9CA3AF" , "#6B7280" , "#4B5563" , "#374151" , "#1F2937" , "#111827"]);

      // "#F9FAFB", "#F3F4F6" , "#E5E7EB" ,
    g.selectAll('path').data(countries.features)
      .enter().append('path')
        .attr('class', 'country')
        .attr('d', pathGenerator)
        .attr('fill', d => colorScale(colorValue(d)))
      .append('title')
        .text(d => d.properties.name + ': ' + colorValue(d));
  });

</script>

