<div class="sidebar-container">
  <div class="sidebar-content-container">
    <div class="sidebar-wordmark-container hidden">
      <img src="" alt="" class="sidebar-wordmark-image">
    </div>

    <div class="sidebar-files-container">
      <% current_user.csv_files.each do |csv_file| %>
        <div class="sidebar-file-container">
          <div class="sidebar-file-item">
            <div class="sidebar-file-icon-container">
              <%= link_to csv_file_path(csv_file) do %>
                <%= image_tag 'database.svg', class: 'sidebar-file-icon'%>
              <% end %>
            </div>
            <div class="sidebar-file-name">
              <%= link_to csv_file.filename, csv_file_path(csv_file) %>
            </div>
            <div class="sidebar-file-dropdown-toggle-container">
              <%= image_tag 'chevron-down.svg', class: 'sidebar-dropdown-toggle-icon'%>
            </div>
          </div>
          </div>
          <div class="sidebar-queries-container">
          <% csv_file.queries.each do |query| %>
            <div class="sidebar-query-item">
                <div class="sidebar-query-icon-container">
                  <%= link_to csv_file_query_path(query) do %>
                    <%= image_tag 'sparkles.svg', class: 'sidebar-query-icon'%>
                  <% end %>
                </div>
                <div class="sidebar-query-name">
                <%= link_to query.query_name, csv_file_query_path(query) %>
                </div>
                <div class="sidebar-query-edit-icon-container">
                  <%= link_to edit_csv_file_query_path(query) do %>
                    <%= image_tag 'pencil.svg', class: 'sidebar-query-edit-icon'%>
                  <% end %>
                </div>
            </div>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</div>

      <%
=begin%>
 <div class="sidebar-file-container-current">
        <div class="sidebar-file-item">
          <div class="sidebar-file-icon-container">
            <%= image_tag 'database.svg', class: 'sidebar-file-icon'%>
          </div>
          <div class="sidebar-file-name">
            Orders
          </div>
          <div class="sidebar-file-dropdown-toggle-container">
            <%= image_tag 'chevron-up.svg', class: 'sidebar-dropdown-toggle-icon'%>
          </div>
        </div>


        <div class="sidebar-queries-container">
          <div class="sidebar-query-item">


              <div class="sidebar-query-icon-container">
                <%= image_tag 'sparkles.svg', class: 'sidebar-query-icon'%>
              </div>
              <div class="sidebar-query-name">
               Summer '69 Sales
              </div>
              <div class="sidebar-query-edit-icon-container">
                <%= image_tag 'pencil.svg', class: 'sidebar-query-edit-icon'%>
              </div>

          </div>
          <div class="sidebar-query-item">


              <div class="sidebar-query-icon-container">
                <%= image_tag 'sparkles.svg', class: 'sidebar-query-icon'%>
              </div>
              <div class="sidebar-query-name">
               Summer '96 Refunds
              </div>
              <div class="sidebar-query-edit-icon-container">
                <%= image_tag 'pencil.svg', class: 'sidebar-query-edit-icon'%>
              </div>

          </div>
        </div>

      </div>

      <div class="sidebar-file-container">
        <div class="sidebar-file-item">
          <div class="sidebar-file-icon-container">
            <%= image_tag 'database.svg', class: 'sidebar-file-icon'%>
          </div>
          <div class="sidebar-file-name">
            Customers
          </div>
          <div class="sidebar-file-dropdown-toggle-container">
            <%= image_tag 'chevron-down.svg', class: 'sidebar-dropdown-toggle-icon'%>
          </div>
        </div>


        <div class="sidebar-queries-container hidden">
          <div class="sidebar-query-item">


              <div class="sidebar-query-icon-container">
                <%= image_tag 'sparkles.svg', class: 'sidebar-query-icon'%>
              </div>
              <div class="sidebar-query-name">
               Summer'69 Sales
              </div>
              <div class="sidebar-query-edit-icon-container">
                <%= image_tag 'pencil.svg', class: 'sidebar-query-edit-icon'%>
              </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>

 
<%
=end%>
