<main class="home-page-container">

  <div class="home-page-header-section-container">
    <div class="home-page-header-section-content-container">
      <h1 class="home-page-header-section-header">A better way to
        <span class="home-page-header-section-header-highlight">explore your data</span>
      </h1>
      <p class="home-page-header-section-paragraph">Upload a CSV to learn everything you wanted to know about the performance of your online store. Dig into your sales, orders, shipping data and more.</p>
      <div class="home-page-header-section-buttons-container">
        <%= link_to "Get started", new_csv_file_path, class: "home-page-header-section-button" %>
      </div>
    </div>
    <div class="home-page-header-section-image-container">
      <%= image_tag 'illustration.svg', class: 'home-page-header-section-image'%>
    </div>
    <div class='home-page-header-section-waves-container'>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
      </svg>
    </div>
  </div>

  <div class="home-page-demo-section-container section-fade-in">
    <div class="home-page-demo-section-supertext-container">
      <h2 class="home-page-demo-section-supertext">Welcome</h2>
    </div>
    <div class="home-page-demo-section-header-container">
      <p class="home-page-demo-section-header">No analyst? No problem.</p>
    </div>
    <div class="home-page-demo-section-paragraph-container">
      <p class="home-page-demo-section-paragraph">You don't need to be an Excel ninja, learn SQL or spend on over-priced consultants to analyse your data. You can do it yourself through our simple, intuitive query tools.</p>
    </div>
    <div class="home-page-demo-section-image-container">
      <%= image_tag 'ui-image.png', class: 'home-page-demo-section-image'%>
    </div>
  </div>

  <div class="home-page-features-section-container section-fade-in">
    <div class="home-page-feature-section-container">
      <div class="home-page-feature-section-content-container">
        <h2 class="home-page-feature-section-supertext">Queries</h2>
        <p class="home-page-feature-section-header">Get to know your data</p>
        <p class="home-page-feature-section-paragraph">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis. In venenatis sem arcu pretium pharetra at. Lectus viverra dui tellus ornare pharetra.</p>
        <div class="home-page-feature-section-button-container">
          <%= link_to "Get started", new_csv_file_path, class: "button-primary" %>
        </div>
      </div>
      <div class="home-page-feature-section-image-container">
        <%= image_tag 'query-image.png', class: 'home-page-feature-section-image'%>
      </div>
    </div>


    <div class="home-page-feature-section-container-alt section-fade-in">
      <div class="home-page-feature-section-content-container-alt">
        <h2 class="home-page-feature-section-supertext">Charts</h2>
        <p class="home-page-feature-section-header">Create simple, one-click visualisations</p>
        <p class="home-page-feature-section-paragraph">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis. In venenatis sem arcu pretium pharetra at. Lectus viverra dui tellus ornare pharetra.</p>
        <div class="home-page-feature-section-button-container">
          <%= link_to "Get started", new_csv_file_path, class: "button-primary" %>
        </div>
      </div>
      <div class="home-page-feature-section-image-container-alt">
        <%= image_tag 'query-image.png', class: 'home-page-feature-section-image'%>
      </div>
    </div>


    <div class="home-page-feature-section-container section-fade-in">
      <div class="home-page-feature-section-content-container">
        <h2 class="home-page-feature-section-supertext">Maps</h2>
        <p class="home-page-feature-section-header">Follow your data across the world</p>
        <p class="home-page-feature-section-paragraph">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis. In venenatis sem arcu pretium pharetra at. Lectus viverra dui tellus ornare pharetra.</p>
        <div class="home-page-feature-section-button-container">
          <%= link_to "Get started", new_csv_file_path, class: "button-primary" %>
        </div>
      </div>
      <div class="home-page-feature-section-image-container">
        <%= image_tag 'map-image.png', class: 'home-page-feature-section-image'%>
      </div>
    </div>
  </div>



  <div class="home-page-testimonial-section-container section-fade-in">
    <div class="home-page-testimonial-section-grid">
      <div class="home-page-testimonial-section-image-contents-container">


          <div class="home-page-testimonial-section-image-container">
            <img
              class="home-page-testimonial-section-image"
              src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
              alt=""
            />
          </div>

      </div>
      <div class="home-page-testimonial-section-contents-container-grid">
        <div class="home-page-testimonial-section-contents-container">
          <blockquote class="home-page-testimonial-section-blockquote">
            <div class="home-page-testimonial-section-blockquote-contents">
              <svg class="home-page-testimonial-section-blockquote-quote-icon" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"></path>
              </svg>
              <p class="home-page-testimonial-section-paragraph">Pythia has replaced my native ecommerce analytics tools. It's so simple.</p>
            </div>
            <footer class="home-page-testimonial-section-blockquote-footer">
              <p class="home-page-testimonial-section-blockquote-footer-text">Jane Doe</p>
              <p class="home-page-testimonial-section-blockquote-footer-subtext">Acme Corp.</p>
            </footer>
          </blockquote>
        </div>

      </div>

    </div>
  </div>
        <div class="home-page-footer-section-container section-fade-in">
        <p class="home-page-footer-paragraph">Made with ❤️ and 🌧️ in London</p>
      </div>

</main>

<script>

  let elementsArray = document.querySelectorAll(".section-fade-in");
  console.log(elementsArray);
  window.addEventListener('scroll', fadeIn );
  function fadeIn() {
    for (var i = 0; i < elementsArray.length; i++) {
        var elem = elementsArray[i]
        var distInView = elem.getBoundingClientRect().top - window.innerHeight + 20;
        if (distInView < 0) {
            elem.classList.add("inView");
        } else {
            elem.classList.remove("inView");
        }
    }
  }
fadeIn();


</script>




























