<h1>Queries#show</h1>
<p>Find me in app/views/queries/show.html.erb</p>

<div class="container">
<p> <%= "#{@query.fields}" %> </p>
<p><%= "#{@query.query_name}" %> </p>
</div>

<div>
 <%= link_to "Edit your query", edit_csv_file_query_path(@query) , class: "btn btn-warning"  %>
    <%= link_to "Delete your query", query_path(@query), class: "btn btn-danger", method: :delete %>
    <%= render  partial: 'query_form', locals: {query: @query} %>
</div>
