<h1>Queries#show</h1>
<p>Find me in app/views/queries/show.html.erb</p>
<% @query.filters.each_with_index do |filter, index| %>
  <p> <%= filter.verb %></p>
  <p> <%= filter.column_name %></p>
  <p> <%= filter.value %></p>
  <p> <%= filter.verb %></p>
<% end %>
<%= @sql_query %>