<h1>Queries#show</h1>
<p>Find me in app/views/queries/show.html.erb</p>

<div class="container">

<% @query.filters.each do |filter| %>
<p> <%= "#{filter.comparison_operator}" %> </p>
<p><%= "#{filter.column_name}" %> </p>
<p> <%="#{filter.value}"  %></p>
<p> <%="#{filter.verb}"  %></p>
<% end %>
</div>

<% if user_signed_in? && @query.csv_file.user == current_user %>
     <%= link_to "Edit your Query", edit_csv_file_query_path(@query) , class: "btn btn-warning"  %>
    <%= link_to "Delete your Query", csv_file_query_path(@query), class: "btn btn-danger", method: :delete, data: { confirm: "Deleting this query cannot be undone. Are you sure you want to delete?" } %>
<% end %>

