<h1>Query: <%= @query.query_name %></h1>
<div class="container">
<% @query.filters.each_with_index do |filter, index| %>
  <p>filter -------</p>
  <p>verb: <%= filter.verb %></p>
  <p>column: <%= filter.column_name %></p>
  <p>operator: <%= filter.comparison_operator %></p>
  <p>value: <%= filter.value %></p>
  <p>--------</p>
<% end %>
<p>Query ----- </p>
<p>fields: <%= @query.fields %></p>
<p>----------</p>
<p>SQL query: </p>
<%= @sql_query %>

<% @query.filters.each do |filter| %>
  <p> <%= "#{filter.comparison_operator}" %> </p>
  <p><%= "#{filter.column_name}" %> </p>
  <p> <%="#{filter.value}"  %></p>
  <p> <%="#{filter.verb}"  %></p>
<% end %>


<% if user_signed_in? && filter.query.file.user == current_user %>
   <%= link_to "Edit your filter", edit_filter_path(filter) , class: "btn btn-warning"  %>
   <%= link_to "Delete your filter", filter_path(filter), class: "btn btn-danger", method: :delete %>
   <%= render  partial: 'query_form', locals: {query: @query} %>
<% end %>
</div>
