<%= f.simple_fields_for :filters do |filter_f| %>
  <div id="fieldset-container">
    <br>
    <fieldset id="0">
      <%= filter_f.input :verb %>
      <%= filter_f.input :column_name %>
      <%= filter_f.input :comparison_operator %>
      <%= filter_f.input :value %>
    </fieldset>
    </div>
<% end %>
<button class="filter-btn" id="add-filter">Add another filter</button>