

<div class="upload-form-container">



  <div class="upload-form-loading-modal-container visibility-hidden">
    <div class="upload-form-loading-modal-contents-container">
      <div class="upload-form-loading-animation-svg-container">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
      <div class="upload-form-paragraph">Transpiling CSV...</div>
    </div>
  </div>





  <% if @csv_file %>
  <%= simple_form_for @csv_file do |f| %>
  <div class="upload-form-drop-field-container">
    <%= f.file_field :csv_doc, class: 'opacity-none upload-form-drop-field', label_input: "CSV Test", id: 'upload-button-hidden'  %>
    <div class="upload-form-content-container">
      <div class="upload-form-icon-container">
        <%= image_tag 'document-report.svg', class: 'upload-form-icon'%>
      </div>
      <div class="upload-form-text-container">
        <p class="upload-form-text"><a class='upload-form-link' id='upload-button-visible'>Upload a file</a> or drag and drop</p>
        <p id="upload-form-feedback"></p>
        <p class="upload-form-text">.CSV up to 10MB</p>
      </div>
    </div>
  </div>
  <div class="upload-form-demo-link-container my-3 display-none">
    <a class="upload-form-demo-link" href="#">demo.csv</a>
  </div>
  <div class="upload-form-text-container">
    <%= f.input :filename, label: "Filename (optional)", class: "form-input-field"  %>
  </div>
  <div class="upload-form-buttons-container">
    <%= link_to "Cancel", root_path, class: "button-utility first-button-row" %>
    <%= f.submit label: "upload!", class: "button-primary", value: "Save", id: 'upload-form-save-button' %>
  </div>
  <% end %>
  <% end %>
</div>




<script>
  const visibleButton = document.getElementById("upload-button-visible");
  const hiddenButton = document.getElementById("upload-button-hidden");
  const dropzone = document.getElementById("upload-form-feedback");
  const saveButton = document.getElementById("upload-form-save-button");
  const loadingModal = document.querySelector(".upload-form-loading-modal-container");

  const handleClick = () => {
    hiddenButton.click();
  }

  hiddenButton.addEventListener("change", (event) => {
    console.log("I have changed!");
    const file = hiddenButton.value.replace(/^.*[\\\/]/, '');
    dropzone.innerHTML = `${file}`;
    saveButton.value = `Save ${file}`;
  });


  visibleButton.addEventListener("click", (event) => {
    event.preventDefault()
    console.log(event);
    handleClick();

    (hiddenButton.value != "") ? console.log("I have a file!") : console.log("I have no file!");
  });

  saveButton.addEventListener("click", (event) => {
    console.log("I have been clicked!");
    renderModal();
  });

  const renderModal = () => {
    loadingModal.classList.remove("visibility-hidden");
  }

</script>

