<div class="upload-form-container">
  <% if @csv_file %>
  
  <%
=begin%>
 <button class="button-secondary upload-form-drop-field" id='upload-button-visible'>CSV Test</button>
  <div id="upload-form-dropzone">I don't have a file</div> 
<%
=end%>
  <%= simple_form_for @csv_file do |f| %>
  <%= f.file_field :csv_doc, label_input: "CSV Test" %>
  <%
=begin%>
 <%= f.file_field :csv_doc, class: 'display-none', label_input: "CSV Test", id: 'upload-button-hidden'  %> 
<%
=end%>



  <div class="upload-form-text-container">
    <p class="upload-form-text">CSV up to 10MB</p>
  </div>
  <div class="upload-form-text-container">
    <%= f.input :filename, label_input: "Filename (optional)"  %>
  </div>
  <div class="upload-form-buttons-container">
    <button class="button-utility first-button-row">Cancel</button>
    <%= f.submit label: "upload!", class: "button-primary", value: "Save" %>
  </div>
  <% end %>
  <% end %>
</div>




<%
=begin%>
 <script>
  const visibleButton = document.getElementById("upload-button-visible");
  const hiddenButton = document.getElementById("upload-button-hidden");
  const dropzone = document.getElementById("upload-form-dropzone");

  const handleClick = () => {
    hiddenButton.click();
  }

  hiddenButton.addEventListener("change", (event) => {
    console.log("I have changed!");
    const file = hiddenButton.value.replace(/^.*[\\\/]/, '');
    dropzone.innerHTML = `I have a file! It's name is ${file}`;
  });


  visibleButton.addEventListener("click", (event) => {
    event.preventDefault()
    console.log(event);
    handleClick();

    (hiddenButton.value != "") ? console.log("I have a file!") : console.log("I have no file!");
  });

</script> 
<%
=end%>
